body {

}

section {
  width: 1920px;
  height: 1080px;
}

main {
  display: flex !important;
}

main section:nth-child(1) {
  background-color: red;
}

main section:nth-child(2) {
  background-color: white;
}

main section:nth-child(3) {
  background-color: blue;
}